[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network-online.target

[Service]
Delegate=yes
Type=notify
KillMode=process
EnvironmentFile=-/etc/sysconfig/docker
EnvironmentFile=-/etc/sysconfig/docker-storage
EnvironmentFile=-/etc/sysconfig/docker-network
ExecStart=/usr/local/bin/dockerd --tlsverify --tlscacert=/etc/docker/ca.pem --tlscert=/etc/docker/docker.pem --tlskey=/etc/docker/docker-key.pem -H unix:///var/run/docker.sock -H tcp://0.0.0.0:2376
MountFlags=share
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
timeoutStartSec=0
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
