driftfile  /var/lib/ntp/drift
pidfile    /var/run/ntpd.pid
logfile    /var/log/ntp.log


# Access Control Support
restrict    default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1

# local clock
server 127.127.1.0
fudge  127.127.1.0 stratum 10


restrict {{ntp_server_ip}} kod nomodify notrap nopeer noquery
server {{ntp_server_ip}} iburst minpoll 4 maxpoll 6
