{
    "registry-mirrors": ["https://docker.mirrors.ustc.edu.cn","https://hub-mirror.c.163.com","https://registry.cn-hangzhou.aliyuncs.com"],
    "insecure-registries": ["{{insecure_register}}"],
    "max-concurrent-downloads": 20,
    "max-concurrent-uploads": 10,
    "log-opts": {
      "max-size": "100m",
      "max-file": "5"
    }
}
